$size: 100vw;

.border-style {
  border-radius: 4px;
}
.center-this {
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
}

.drum-pad {
  @extend .border-style;
  width: $size * 0.14;
  height: $size * 0.14;
  float: left;
  margin: $size * 0.005;
  background-color: blue;
  text-align: center;
  vertical-align: middle;
}

.drum-pad-container {
  @extend .border-style;
  @extend .center-this;
  transform: translate(-80%, -50%);
  width: $size * 0.45;
  height: $size * 0.45;
  padding: $size * 0.01;
  background-color: lightslategrey;
}

.display-text {
  background-color: grey;
  width: $size * 0.3;
  height: 60px;
  @extend .center-this;
  transform: translate(40%, -50%);
}

#drum-machine {
  @extend .center-this;
  transform: translate(-50%, -50%);
  width: $size * 0.9;
  background-color: lightgray;
  height: $size * 0.7;
}

.title-text {
  position: absolute;
  left: 20%;
  top: 0;
  transform: translate(-50%, 50%);
}
