.border-style {
  border-radius: 4px;
}
.center-this {
  position: absolute;
  left: 50%;
  top: 50%;
  color: black;
}

.drum-pad {
  @extend .border-style;
  width: 14vw;
  height: 14vw;
  float: left;
  margin: 0.5vw;
  background-color: blue;
  text-align: center;
  vertical-align: middle;
}

.drum-pad-container {
  @extend .border-style;
  @extend .center-this;
  transform: translate(-80%, -50%);
  width: 45vw;
  height: 45vw;
  padding: 1vw;
  background-color: lightslategrey;
}

.display-text {
  background-color: grey;
  width: 30vw;
  height: 60px;
  @extend .center-this;
  transform: translate(40%, -50%);
}

#drum-machine {
  min-width: 800px;
  @extend .center-this;
  transform: translate(-50%, -50%);
  width: 90vw;
  background-color: lightgray;
  height: 80vh;
}

.title-text {
  position: absolute;
  left: 20%;
  top: 0;
  transform: translate(-50%, 50%);
}
