div .drum-pad {
  width: 40px;
  height: 40px;
  float: left;
  margin: 1px;
  background-color: blue;
  text-align: center;
}

div .drum-pad-container {
  width: 126px;
  height: 126px;
  padding: 2px;
  background-color: red;
}
